html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(47, 47, 47);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {

 text-align: center;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 padding: 2rem;
 border-radius: 7px;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(149, 0, 255);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.about {
  max-width: 600px;
  text-align: center;
  margin: 4rem auto;
  line-height: 1.6;
}
.skills {
  text-align: center; 
  background-color: rgb(47, 47, 47);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding : 0.1rem 0;
}
.skills h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
  text-decoration: underline;
  text-decoration:underline;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  gap: 1rem;
  
}
.skill {
 background-color: rgb(149, 0, 255);
  padding: 0.8rem;
  font-size: larger;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  margin-bottom: 1rem;
}
footer {
  text-align: center;
  margin: 4rem 0.2rem;
  font-size: 2rem;
  color: #555;
}