html {
  scroll-behavior: smooth;
  font-family: arial;
}
body {
  background-color: rgb(47, 47, 47);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  opacity: 0.97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 47, 47);
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  height: 3rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
button {
  padding: 0.2rem 0.5rem;
  margin: 1rem;
  background-color: rgb(149, 0, 255);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.hero {

 text-align: center;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 padding: 2rem;
 border-radius: 7px;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(149, 0, 255);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.about {
  max-width: 600px;
  text-align: center;
  margin: 4rem auto;
  line-height: 1.6;
}
.skills {
  text-align: center; 
  background-color: rgb(47, 47, 47);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding : 0.1rem 0;
  height: 17rem;
}
.skills h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
  text-decoration: underline;
  text-decoration:underline;
}
.skills-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 10rem;

}

.skill {
 text-align: center;
  background-color: rgb(149, 0, 255);
  padding: 2rem;
  font-size: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 7rem;
  height: 2rem;
}
footer {
  text-align: center;
  margin: 4rem 0.2rem;
  font-size: 2rem;
  color: #555;
}
@media (max-width: 600px) {
  html {
    font-size: 0.9rem;
  }
  .skills-list {
    flex-direction: column;
    align-items: center;
  }
  .skills {
    height: 25rem;
  }

}